/*-------------
 	General
-------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	font: normal 400 14px "Lato", "Helvetica", "Arial", sans-serif;
	color: #f5f5f5;
	background: #000;
}
hr {
	margin: 0 -1rem;
	color: #f5f5f54a;
}
a {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.9;
	color: inherit;
}
p {
	font-size: 16px;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 0.2px;
	opacity: 0.8;
}
.fl-c {
	flex-direction: column;
}
.clear-left {
	justify-content: flex-start !important;
}
.middle-it {
	justify-content: center;
	align-items: center;
}
.mr-5 {
	margin-right: .5rem !important; 
}
.plr a {
	padding: 16px 20px !important;
}
ul {
	list-style: none;
	margin-bottom: 0;
}
input.search-input {
	background: transparent;
	border: 0;
	padding: .4rem;
	color: #fff;
	margin-right: 0;
}
li.search input {
	border-bottom: 1px solid #f5f5f580;
}
input.search-btn {
	background: transparent;
	border: 1px solid #f5f5f580;
	padding: .4rem;
	color: #fff;
	margin-left: 0;
	cursor: pointer;
}
/* Header */
header {
	display: flex;
	flex-direction: column;
	padding: .8rem;
	background-color: #000;
}
.brand {
	display: flex;
	align-items: center;
}
.brand img {
	display: none;
}
.brand h5 {
	padding: 0 .5rem;
	font-size: 14px;
	letter-spacing: .2rem;
}
header > .top--menu {
    display: flex;
    justify-content: center;
}
header > .top--menu ul {
	display: flex;
}
header > .top--menu ul > li {
	padding: 0 .5rem;
	font-size: 14px;
	letter-spacing: .2rem;
	align-items: center;
	display: flex;
	cursor: pointer;
}
#header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}
#header.header-scrolled {
box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.12);
background: rgba(34, 34, 34, 0.9);
transition: opacity 500ms ease;
}
header > .reveal--menu {
	display: none;
	justify-content: space-between
}
header > .reveal--menu > h5 {
	display: none;
}
#header.header-scrolled > .reveal--menu {
	display: flex;
}
#nav-menu-container {
    display: none;
}
body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}
#search-toggle {
	position: fixed;
	color: #fff;
    right: 15px;
    z-index: 999;
    top: 13px;
    border: 0;
    background: none;
    font-size: 14px;
    display: flex;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
#mobile-nav-toggle {
	position: fixed;
	color: #fff;
    left: 15px;
    z-index: 999;
    top: 13px;
    border: 0;
    background: none;
    font-size: 14px;
    display: flex;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
body.mobile-nav-active #mobile-nav {
    left: 0;
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding: 1.8rem;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
body.mobile-search-active #mobile-search {
    right: 0;
}
#mobile-search {
    position: fixed;
    top: 0;
    padding: 1.8rem;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    right: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
#mobile-search li {
	display: none;
}
#mobile-search li.search {
	display: flex;
	margin-top: 1rem; 
}
#mobile-nav ul li {
    padding: .6rem 0;
	font-size: 1rem;
	letter-spacing: .2rem;
	cursor: pointer;
}
#mobile-nav ul li.search, #mobile-nav ul li#myBtn {
    display: none;
}
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
/* Title */
div.title-content {
	display: flex;
	justify-content: center;
	padding: 0 10px 10px;
	margin: 1rem 0;
	flex-wrap: wrap;
}
div.title-content h2 {
	text-align: center;
}
div.title-content h3{
	font-size: 1.2rem;
	letter-spacing: .15rem;
	font-weight: 400;
	text-align: center;
}
div.title-content h3.h3--bigger{
	font-size: 1.8rem;
	padding: 0 3rem;
	line-height: 1.2;
}
div.title-content p{
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 0.5px;
	opacity: 0.5;
}
div.title-content span{
	padding: 0 .5rem;
	font-size: 1.2rem;
	color: #5d5d5d;
}
/* Section */
section:not(.hero){
	padding: 1rem;
}
/* Section Her0 */
section.hero {
	height: 80vh;
}
section.hero:after {
	display: block;
	content: ' ';
	background: url('../img/vignette-bg.png') center/100% 100% no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	bottom: 4rem;
}
section.hero > picture {
	display: flex;
	flex-basis: 100%;
}
section.hero > img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 20%;
}
section.hero > picture > img {
	width: 100%;
}
@supports(object-fit: cover){
    section.hero > picture > img{
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
section.slider {
	padding: 0;
	overflow: hidden;
	margin-top: -3rem;
	position: relative;
	z-index: 3;
}
section.slider article {
	margin: 0;
}
section > article > .cta {
	display: flex;
	flex-direction: column;
}
.btn-mc {
    min-width: 130px;
    margin: .4rem 0;
    padding: 16px 30px;
    background-color: #c83232;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .3s ease,border .3s ease;
	-o-transition: background .3s ease,border .3s ease;
	-moz-transition: background .3s ease,border .3s ease;
	transition: background .3s ease,border .3s ease;
	cursor: pointer;
}
.btn-mc--secondary {
	background-color: #333;
}
.btn-mc--trans {
	background-color: transparent;
	border: 1px solid #f5f5f580;
}
article {
	margin: 1.5rem 0;
}
section.wrapper {
	padding-top: 0;
}
ul.brand-icon-set {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
}
ul.brand-icon-set li,
ul.social-icon-set li {
	cursor: pointer;
}
ul.brand-icon-set li img,
ul.social-icon-set li img {
	max-width: 120px;
	-webkit-filter: saturate(10%);
	opacity: .5;
}
ul.brand-icon-set li img:hover,
ul.social-icon-set li img:hover {
	-webkit-filter: none;
	opacity: 1;
}
ul.lesson-set {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 5rem;
	align-items: center;
}
ul.lesson-set li {
	display: flex;
	margin-bottom: 1.5rem;
}
ul.lesson-set li img {
	width: 35px;
	object-fit: scale-down;
	margin-right: .7rem;
}
ul.lesson-set li .lesson--content {
	display: flex;
	flex-direction: column;
}
ul.lesson-set li .lesson--content span:first-child {
	font-size: 1.5rem;
	margin-bottom: .3em;
	letter-spacing: .09rem;
	opacity: .9;
}
ul.lesson-set li .lesson--content span:last-child {
	letter-spacing: .025em;
	opacity: .5;
}
ul.course-list {
	-webkit-transition: background-image 150ms ease;
	-o-transition: background-image 150ms ease;
	-moz-transition: background-image 150ms ease;
	transition: background-image 150ms ease;
}
ul.course-list > li {
	margin: .8rem 0;
	-webkit-transition: background-image 150ms ease;
	-o-transition: background-image 150ms ease;
	-moz-transition: background-image 150ms ease;
	transition: background-image 150ms ease;
	overflow: hidden;
}
ul.course-list > li > a {
	position: relative;
}
ul.course-list > li > a > img,
div.scroll > ul.scroll-courses > li > a > .course > img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: transform 8s ease;
	-webkit-transition: -webkit-transform 8s ease;
	transition: -webkit-transform 8s ease;
	-o-transition: -o-transform 8s ease;
	-moz-transition: transform 8s ease,-moz-transform 8s ease;
	transition: transform 8s ease;
	transition: transform 8s ease,-webkit-transform 8s ease,-moz-transform 8s ease,-o-transform 8s ease;
}
ul.course-list > li > a > img:hover,
div.scroll > ul.scroll-courses > li > a > .course > img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
	-webkit-transition: -webkit-transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
	transition: -webkit-transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
	-o-transition: -o-transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
	-moz-transition: transform 15s cubic-bezier(0.02, 0.075, 0.42, 1),-moz-transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
	transition: transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
	transition: transform 15s cubic-bezier(0.02, 0.075, 0.42, 1),-webkit-transform 15s cubic-bezier(0.02, 0.075, 0.42, 1),-moz-transform 15s cubic-bezier(0.02, 0.075, 0.42, 1),-o-transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
}
.caption {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
    -webkit-transition: transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);
	-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);
	transition: -webkit-transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);
	-o-transition: -o-transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);
	-moz-transition: transform 0.75s cubic-bezier(0.29, 1.185, 1, 1),-moz-transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);
	transition: transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);
	transition: transform 0.75s cubic-bezier(0.29, 1.185, 1, 1),-webkit-transform 0.75s cubic-bezier(0.29, 1.185, 1, 1),-moz-transform 0.75s cubic-bezier(0.29, 1.185, 1, 1),-o-transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);
}
.caption .caption-title {
    font-size: 1.3em;
    margin-bottom: .2em;
}
.caption .caption-subtitle {
    font-size: .9em;
    color: rgba(255,255,255,0.7);
}
ul.testimonials {
	color: #111;
}
ul.testimonials > li {
	margin-bottom: 1rem;
}
ul.testimonials > li > a > .testify-card,
ul.announcements > li > .card,
ul.course-spec > li > .card {
	background: #fff;
	border-radius: .4rem;
	padding: 1.5rem;
}
ul.announcements > li > .card {
	min-width: 280px;
	color: #111;
}
ul.testimonials > li > a > .testify-card > .card--head,
ul.testimonials > li > a > .testify-card > .card--bottom,
ul.announcements > li > .card > .card-head {
	display: flex;
}
ul.testimonials > li > a > .testify-card > .card--head, 
ul.announcements > li > .card > .card-head,
ul.course-spec > li > .card > .card--head {
	margin-bottom: 1rem;
}
ul.announcements > li > .card > .card-head {
	justify-content: space-between;
}
ul.course-spec > li > .card > .card--head {
	justify-content: center;
}
ul.testimonials > li > a > .testify-card > .card--head > img,
ul.testimonials > li > a > .testify-card > .card--bottom > img,
ul.course-spec > li > .card > .card--head > img {
	width: 70px;
	border-radius: .25rem;
	margin-right: 1rem;
}
ul.announcements > li > .card > .card-head > img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 1rem;
	object-fit: cover;
}
ul.announcements > li > .card > .card-head > img.social-img {
	width: 30px;
	margin-left: 1rem;
	margin-right: 0;
	border-radius: 0;
	object-fit: scale-down;
}
ul.testimonials > li > a > .testify-card > .card--content,
ul.announcements > li > .card > .card-content {
	margin: 0.5em 0 0.75em 0;
	text-align: left;
}
ul.testimonials > li > a > .testify-card > .card--bottom > img {
	width: auto;
	border-radius: 50%;
}
ul.testimonials > li > a > .testify-card > .card--head > .card--head-name,
ul.testimonials > li > a > .testify-card > .card--bottom > h3,
ul.announcements > li > .card > .card-head > .card-head--name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
ul.testimonials > li > a > .testify-card > .card--head > .card--head-name > h3,
ul.announcements > li > .card > .card-head > .card-head--name > h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.43;
	letter-spacing: 1px;
	color: #1a1a1a;
}
ul.announcements > li > .card > .card-head > .card-head--name > h3 {
	text-transform: capitalize;
}
ul.testimonials > li > a > .testify-card > .card--head > .card--head-name > h4, 
ul.announcements > li > .card > .card-head > .card-head--name > h4 {
	font-size: 12px;
	line-height: 1.4;
	letter-spacing: 1.2px;
	opacity: 0.5;
	margin: 0;
	color: #1a1a1a;
	text-transform: uppercase;
}
ul.announcements > li > .card > .card-head > .card-head--name > h4 {
	font-size: 10px;
	text-transform: none;
}
ul.testimonials > li > a > .testify-card > .card--bottom > h3 {
	opacity: 0.5;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #1a1a1a;
	text-transform: none;
}
div.scroll {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-right: -14px;
}
div.scroll > ul.announcements,
div.scroll > ul.scroll-courses {
	display: flex;
	overflow-x: auto;
	min-width: 100%;
	-webkit-overflow-scrolling: touch;
}
div.scroll > ul.announcements::-webkit-scrollbar,
div.scroll > ul.scroll-courses::-webkit-scrollbar {
	display: none;
}
div.scroll > ul.announcements > li,
div.scroll > ul.scroll-courses > li {
	position: relative;
	margin: 0 0.5rem;
}
div.scroll > ul.course-slider > li {
	margin: 0 0.2rem;
}
div.scroll > ul.scroll-courses > li > a > .course {
	min-width: 280px;
	margin: 0 .3rem;
	border: 1px solid #f5f5f54a;
	overflow: hidden;
}
div.scroll > ul.course-slider > li > a > .course {
	min-width: 130px;
	margin: 0 .1rem;
	max-height: 100px;
}
div.scroll > ul.course-slider > li > a > .course .caption {
    bottom: .8em;
    left: .6em;
}
div.scroll > ul.course-slider > li > a > .course .caption .caption-title {
	font-size: .8em;
	margin-bottom: -.6rem;
}
div.scroll > ul.course-slider > li > a > .course .caption .caption-subtitle {
	display: none;
}
div.scroll > ul.scroll-courses > li > a > .course > img {
	width: 100%;
}
div.cta-section {
	background: url(../img/cta-banner.jpg);
	justify-content: center;
	align-items: center;
	padding: 6.5em 2em;
	margin: 0 -1rem;
	text-align: center;
}
div.cta-section h2 {
	font-size: 1.8rem;
	padding: 0 3rem;
	line-height: 1.2;
	letter-spacing: .15rem;
	font-weight: 400;
}
.lesson-card {
	background: white;
	color: #111;
	border-radius: .3rem;
	padding: 1.5rem;
	display: flex;
	margin-bottom: 3rem;
}
.lesson-card > .card--show {
	display: flex;
}
.lesson-card > .card--show > img {
    margin-right: 1rem;
    width: 30%;
    object-fit: scale-down;
}
.lesson-card > .card--show > h2 {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.lesson-card > .card--show > h2 small {
	font-size: 65%;
	opacity: .5;
	text-transform: uppercase;
	letter-spacing: .15rem;
	padding-top: .3rem;
}
.lesson-card h2 {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: .8rem;
}
.lesson-card p {
	text-align: left;
	font-size: 18px;
}
ul.course-spec {
	color: #111;
}
ul.course-spec > li {
	margin-bottom: 1rem;
}
.transparent-card {
	background-color: transparent;
	border: 1px solid #f5f5f580;
	color: #fff;
}
ul.social-icon-set {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
article.course-action {
	text-align: center;
	margin: 2rem 0 4rem;
}
article.course-action .a-third {
	margin: 1rem 0 2rem;
}
article.course-action .a-third > .title-content > p {
	font-size: 12px;
}
article.course-action .a-third > h3 {
	font-size: 1.5rem;
	padding: 1rem 0;
}
article.course-action .a-third > p {
	opacity: .6;
}
article.course-action .a-third > .third--head > img {
	width: 50px;
	border-radius: .25rem;
}
button#myBtn2 {
	position: fixed;
	color: #fff;
	right: 40px;
	z-index: 999;
	top: 12px;
	border: 0;
	background: none;
	font-size: 14px;
	display: flex;
	transition: all 0.4s;
	outline: none;
	cursor: pointer;
	align-items: center;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1005; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: #111;
    float: right;
    font-size: 28px;
	font-weight: bold;
	position: absolute;
	right: .3rem;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header, .modal-footer {
    padding: 2px 16px;
    color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	letter-spacing: .08rem;
}
.modal-body {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
}
.social-login {
	text-transform: none;
	letter-spacing: .1rem;
	align-items: center;
	display: flex;
	justify-content: center;
	font-weight: 500;
}
.login-input {
	border-radius: .3rem;
	border: 1px solid #dbdbdb;
	padding: .7rem .5rem;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.social-login i {
	margin: -.1em 1em 0 0;
	font-size: 1.5rem;
}
.login-facebook {
	background-color: #3a5998;
	margin-bottom: .5rem;
}
p.divider {
	color: #939393;
	text-align: center;
	margin: 1.1rem 0;
	position: relative;
}
p.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(77,87,104,0.2);
    z-index: -1;
}
p.divider span {
	padding: .5em 1em;
	background: #fff;
}
/* Footer */
footer {
	display: flex;
	background-color: #111;
	color: #f5f5f5;
	padding: 1rem;
	justify-content: space-between
}
footer ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
footer ul li {
	padding: 0 0.3rem;
}
@media screen and (min-width: 780px) {
	hr {
		margin: 0 -8rem;
	}
	.brand img {
		max-width: 30px;
	}
	header > .top--menu {
		justify-content: space-between;
		margin: 0 8rem;
	}
	input.search-btn {
		display: none;
	}
	#header.header-scrolled > .reveal--menu {
		display: grid;
		margin: 0 8rem;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 8rem;
	}
	header > .reveal--menu > h5 {
		display: flex;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 4px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	header > .reveal--menu > h5 small {
		font-size: 90%;
		opacity: 0.5;
		letter-spacing: 0.5px;
		font-weight: 400;
	}
	#nav-menu-container {
		display: flex;
	}
	#mobile-nav-toggle, #search-toggle {
		display: none;
	}
	section.hero {
		display: flex;
		max-height: 600px;
	}
	section.hero:after {
		display: block;
		content: ' ';
		background: url('../img/vignette-bg.png') center/100% 100% no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		bottom: 4rem;
	}
	section.slider {
		margin-top: -10rem;
		position: relative;
		z-index: 3;
	}
	section.wrapper {
		margin: 0 7rem;
		z-index: 3;
		position: relative;
	}
	section > article > .cta {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 4rem;
		margin: 1rem 0;
	}
	article {
		margin: 2.5rem 0;
	}
	article.course-action {
		display: flex;
	}
	ul.brand-icon-set {
		display: flex;
		margin: 1rem 3rem;
		justify-content: space-between;
		border-bottom: 1px solid #f5f5f54d;
		padding: 2rem;
	}
	div.title-content h3.h3--bigger {
		padding: 2rem 3rem 0;
	}
	ul.lesson-set {
		flex-direction: row;
		justify-content: space-around;
		margin: 0 3rem;
	}
	ul.lesson-set li .lesson--content span:first-child {
		font-size: 2rem;
		margin-bottom: .05em;
		font-weight: bold;
	}
	ul.lesson-set li .lesson--content span:last-child {
		font-size: 1.3rem;
	}
	ul.course-list {
		display: flex;
		flex-wrap: wrap; 
	}
	ul.course-list li {
		width: 48%;
		margin: 1%;
		border: 1px solid #f5f5f54d;
	}
	ul.course-list li:first-child {
		width: 100%;
	}
	ul.course-list li:first-child > a > img {
		object-position: 50% 30%;
	}
	ul.course-list > li > a > img {
		max-height: 300px;
	}
	ul.testimonials {
		display: flex;
		justify-content: space-between;
	}
	ul.testimonials > li {
		max-width: 31%;
	}
	ul.announcements > li > .card {
		min-width: 330px;
		padding: 2.5rem;
	}
	div.cta-section {
		padding: 8em 2em;
		margin: 0 -8rem;
	}
	.lesson-card > .card--caption {
		width: 62%
	}
	.lesson-card > .card--show > img {
		margin-right: 2rem;
		width: 64px;
	}
	.lesson-card > .card--show > h2 {
		font-size: 1.6rem;
	}
	ul.course-spec {
		display: flex;
		justify-content: space-between;
		margin: 0 7rem;
	}
	ul.course-spec li {
		width: 31%;
	}
	article.course-action .a-third {
		border-left: 1px solid #f5f5f580;
		border-right: 1px solid #f5f5f580;
		padding: 1.1rem;
	}
	article.course-action .a-third:first-child {
		border-left: none;
		border-right: 1px solid #f5f5f580;
	}
	article.course-action .a-third:last-child {
		border-left: 1px solid #f5f5f580;
		border-right: none;
	}
	div.scroll > ul.course-slider > li {
		margin: 0 0.5rem;
	}
	div.scroll > ul.course-slider > li > a > .course {
		min-width: 280px;
		margin: 0 .4rem;
		max-height: none;
	}
	div.scroll > ul.course-slider > li > a > .course .caption {
		bottom: 1em;
		left: 1em;
	}
	div.scroll > ul.course-slider > li > a > .course .caption .caption-title {
		font-size: 1.3rem;
		margin-bottom: .2rem;
	}
	div.scroll > ul.course-slider > li > a > .course .caption .caption-subtitle {
		display: flex;
	}
	button#myBtn2 {
		display: none;
	}
	.modal-content {
		width: 40%;
	}
}
@media (min-width: 780px) and (max-width: 1050px){
	hr {
		margin: 0 -4rem;
	}
	#header.header-scrolled > .reveal--menu {
		margin: 0 2rem;
		grid-gap: 4rem;
	}
	section.wrapper {
		margin: 0 3rem;
	}
	ul.brand-icon-set li img {
		max-width: 100px;
	}
	div.cta-section {
		margin: 0 -4rem;
	}
}
